.carousel {
  --swiper-navigation-color: #bbbbbb;
  --swiper-pagination-color: #bbbbbb;
}

.swiper-container .swiper-notification {
  display: none;
}

.swiper-pagination {
  width: 100%;
}

.swiper-pagination-bullet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 12px;
  color: #000;
  margin: 0 4px;
  opacity: 1;
  background: rgba(40, 40, 40, 1);
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: #1864c7;
  transform: scale(0.1) 0.5s;
  cursor: pointer;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  height: 40px;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev::after {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: 4px;
  margin-left: 40px;
  background: #303030;
  padding: 30px 30px 30px 25px;
  border-radius: 50%;
  transition: all 0.25s;
}

.swiper-button-prev:hover::after {
  opacity: 0.7;
  transform: scale(1.1);
}

.swiper-button-next::after {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: 45px;
  margin-right: 40px;
  background: #303030;
  padding: 30px 25px 30px 30px;
  border-radius: 50%;
  transition: all 0.25s;
}

.swiper-button-next:hover::after {
  opacity: 0.7;
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .swiper-button-prev::after {
    margin-left: 0px;
    transform: scale(0.8);
  }
  
  .swiper-button-next::after {
    transform: scale(0.8);
    margin-right: 0px;
  }

  .swiper-pagination-bullet {
    margin-top: 0;
    transform: scale(0.8);
  }
}

.social-link:hover .social-icon {
  fill: #f271a2;
  background-color: rgba(40, 40, 40, 1);
}

.social-link:hover p {
  color: #f271a2;
}

.phone-link:hover .phone-icon {
  fill: #25d366;
  background-color: rgba(40, 40, 40, 1);
}

.phone-link:hover p {
  color: #25d366;
}

.social-link p::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #f271a2;
  transform: scale(0%);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.phone-link p::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #25d366;
  transform: scale(0%);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.social-link:hover p::after,
.phone-link:hover p::after {
  transform: scaleX(1);
}

#inputEmail {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

#emailLabel {
  position: absolute;
  left: 20px;
  color: #8e8e8e;
  background: transparent;
  pointer-events: none;
  transform: translateY(75%) scale(1.2);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

#inputEmail:focus,
input:valid {
  outline: none;
  border: 1.5px solid #1864c7;
}

#inputEmail:focus ~ label,
input:valid ~ label {
  transform: translateY(-120%) scale(1);
  color: #2196f3;
}

@media screen and (max-width: 640px) {
  #inputEmail:focus ~ label,
  input:valid ~ label {
    transform: translateY(-100%) scale(1);
    color: #2196f3;
  }

  #emailLabel {
    position: absolute;
    left: 20px;
    color: #8e8e8e;
    background: transparent;
    pointer-events: none;
    transform: translateY(45%) scale(1.1);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

#inputFooter {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

#footerLabel {
  position: absolute;
  left: 20px;
  color: #8e8e8e;
  background: transparent;
  pointer-events: none;
  transform: translateY(210%) scale(1.2);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

#inputFooter:focus,
input:valid {
  outline: none;
  border: 1.5px solid #1864c7;
}

#inputFooter:focus ~ label,
input:valid ~ label {
  transform: translateY(-20%) scale(1);
  color: #2196f3;
}

@media screen and (max-width: 1024px) {
  #footerLabel {
    position: absolute;
    left: 20px;
    color: #8e8e8e;
    background: transparent;
    pointer-events: none;
    transform: translateY(180%) scale(1.2);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
